  .income-container {
    width: 50vw;
    position: relative;
  }

  .input-income {
    width: 100%;
    padding: 20px 20px 20px 30px;
  }
  
  .currency-code {
    position:absolute;
    left: 10px;
    top: 32%;
    color: black
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }